<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write contents</div>
    </body>
    <footer style="margin-top: auto;" th:fragment="html_footer">
        <div class="footer">
            <div id="button"></div>
            <div id="container">
                <div id="cont">
                    <div class="footer_center">
                        <h3>Hệ thống quản lý đặt món và đặt món online &copy; 2023</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--<h1>Hệ thống quản lý đặt món và đặt món online &copy; 2023</h1>-->
    </footer>
</html>
